@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #f0f8ff;
        text-align: center;
        overflow-x: hidden;
        padding: 50px;
    }

    .welcome-image {
        max-width: 50%;
        height: auto;
        border-radius: 10px;
    }
</style>

<html>
    <div style="font-size:80px; color: #000080;">
        <p>Welcome to DadJokes</p>
    </div>

    <div style="margin-top: 30px;">
        <p>
            <h5>Do you think it's funny? Did your dad laugh? Then here is the place!</h5>
        </p>
    </div>

    <div style="margin-top: 50px;">
        <img src="~/images/yao_ming.png" alt="Welcome Image" class="welcome-image" />
    </div>

    <div style="margin-top: 150px;">
        <i>
            <h2>Defintion:</h2>
            <p>
                A dad joke is a joke, typically a pun, often presented as a one-liner or a question and answer, but less often a narrative. <br>
                Generally inoffensive, dad jokes are stereotypically told with sincere humorous intent, <br>
                or to intentionally provoke a negative "groaning" reaction to their overly simplistic humor. <br>
                Read more <a href="https://en.wikipedia.org/wiki/Dad_joke">here</a>
            </p>
        </i>
    </div>
</html>
