@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>
    <i>
        This Privacy Policy describes how we collect, use, and share your personal information when you use our website. 
        By using our website and providing your information, you consent to the practices described in this policy.
    </i>
</p>

<h3>1. Information We Collect</h3>
<p>We collect the following types of information when you create an account:</p>
<ul>
    <li>Email address</li>
    <li>Password (encrypted)</li>
</ul>

<h3>2. How We Use Your Information</h3>
<p>We use the information we collect for the following purposes:</p>
<ul>
    <li>Providing you with access to our joke content</li>
    <li>Managing your account</li>
</ul>

<h3>3. Sharing Your Information</h3>
<p>We do not share your personal information with third parties except in the following cases:</p>
<ul>
    <li>With your explicit consent</li>
    <li>When required by law or to protect our rights</li>
</ul>

<h3>4. Security</h3>
<p>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.</p>

<h3>5. Cookies</h3>
<p>We use cookies to improve your experience on our website. You can choose to disable cookies in your browser settings, but this may affect certain features of the site.</p>

<h3>6. Your Rights</h3>
<p>You have the right to:</p>
<ul>
    <li>Access, correct, or delete your personal information</li>
    <li>Withdraw your consent for certain uses of your information</li>
</ul>

<h3>7. Unacceptable Content</h3>
<p>
    At DadJokes, we are committed to maintaining a positive and inclusive environment for all users. 
    We strictly prohibit the sharing or creation of content that is racist, sexist, discriminatory, offensive, or otherwise harmful. 
    If you come across any such content, we encourage you to report it immediately through the provided reporting mechanisms on our platform.
</p>
<p>
    Our team will review all reported content promptly and take appropriate action, which may include removing the content and taking further legal steps if necessary. 
    By using DadJokes, you agree to abide by these community standards and help us create a safe and enjoyable space for everyone.
</p>

<h3>8. Changes to this Policy</h3>
<p>
    We may update this Privacy Policy from time to time. The most current version will always be posted on our website.
    Any changes will be effective immediately upon the postig of the revised policy. 
</p>

<h3>9. Contact Us</h3>
<p>If you have any questions or concerns, please contact us at <a href="mailto:dadjokes@gmail.com">dadjokes@gmail.com</a>.</p>
