/* _content/DadJokes/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-1m1k158cf4] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #000080;
    text-decoration-color: #000080;
}

/*a {
  color: #0077cc;
}*/

/*h1 {
    color: #000080;
}*/

.btn-primary[b-1m1k158cf4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1m1k158cf4], .nav-pills .show > .nav-link[b-1m1k158cf4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1m1k158cf4] {
  border-top: 3px solid #e5e5e5;
}
.border-bottom[b-1m1k158cf4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1m1k158cf4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1m1k158cf4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1m1k158cf4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  text-align: center;
}

.footer-div[b-1m1k158cf4] {
    height: 62px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-item:is(:link, :active, :visited).active[b-1m1k158cf4] {
    opacity: 1;
}

.nav-item[b-1m1k158cf4] {
    position: relative;
}

.nav-item[b-1m1k158cf4]::after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 4px;
    width: 100%;
    background-color: #000080;
    position: absolute;
    bottom: -8px;
    left: 0;
    pointer-events: none;
}

.nav-item:hover[b-1m1k158cf4]::after {
    opacity: 1;
}

.nav-item.active[b-1m1k158cf4]::after {
    opacity: 1;
}
/* _content/DadJokes/Views/Shared/_LoginPartial.cshtml.rz.scp.css */
.nav-item[b-1olok13sov] {
    position: relative;
}

.nav-item[b-1olok13sov]::after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 4px;
    width: 100%;
    background-color: #000080;
    position: absolute;
    bottom: -8px;
    left: 0;
    pointer-events: none;
}

.nav-item:hover[b-1olok13sov]::after {
    opacity: 1;
}

/*.nav-item:focus::after {
    opacity: 1;
}*/

.nav-item.active[b-1olok13sov]::after {
    opacity: 1;
}
